html {height: auto;}
body.demo {
	height: 100%;
	background: url(../images/bg/single_img_bg.jpg) 0 0 no-repeat fixed;
	background-size: cover;
}
body.demo.pattern_overlay:after {
	min-height: 100%;
}
.demo_page_title {
	padding: 86px 0 4px;
	color: #fff;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 58px;
	font-weight: 900;
	margin: 0;
}
.demo_index {
	position: relative;
	z-index: 99;
}
.demo_subtitle {
	margin: 0 0 50px;
	color: #222;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}
.demo_row {
	position: relative;
	background-size: cover;
	text-align: center;
}
.demo_row.row_2 {
	padding-top: 29px;
}
.demo_thumbs {
	position: relative;
	z-index: 10;
	list-style: none;
	margin: 0;
	padding: 0;
}
.demo_thumbs li {
	background: url(../images/demo/demo_thumb_bg.png) 0 0 no-repeat;
	overflow: hidden;
	max-width: 100%;
	vertical-align: top;
	display: inline-block;
	margin: 0 15px 46px;
	padding-top: 16px;
}
.demo_thumbs li h4 {
	color: #fff;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
}
.demo_thumbs li img {
	width: 100%;
	-webkit-transition: all ease 2s;
	-moz-transition: all ease 2s;
	-ms-transition: all ease 2s;
	-o-transition: all ease 2s;
	transition: all ease 2s;
	margin-bottom: 12px;
}
.demo_row_title {
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	margin: 0 0 24px;
	text-transform: uppercase;
	font-weight: 900;
}