.collapse.in {
    display: block
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility
}
.collapse {
    display: none
}
.faq-accordion .panel.panel-default {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.faq-accordion .panel.panel-default > .panel-heading + .panel-collapse > .panel-body {
  -o-border-image: url(../images/faq/faq-border.png) 100 round;
     border-image: url(../images/faq/faq-border.png) 100 round;
}
.faq-accordion .panel + .panel {
  margin-top: 0;
}
.faq-accordion .panel .panel-heading {
  background-color: transparent;
  border: none;
  padding: 0;
}
.faq-accordion .panel .panel-heading .panel-title {
  font-size: 20px;
  font-weight: 400;
}
.faq-accordion .panel .panel-heading .panel-title a {
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq-accordion .panel .panel-heading .panel-title a:before {
  content: "\f059";
  font-family: "FontAwesome";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.faq-accordion .panel .panel-heading .panel-title a[aria-expanded=true] {
    border-color: #3aa6fe;
}