.collapse.in,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

img,
label {
    max-width: 100%
}

.btn,
.navbar-toggle {
    background-image: none
}

.btn,
.owl-controls .owl-buttons div,
.owl-controls .owl-page,
[role=button] {
    cursor: pointer
}

.owl-controls,
html {
    -webkit-tap-highlight-color: transparent
}

.navbar-toggle:focus,
[type=submit],
a:focus,
a:visited {
    outline: 0
}

.btn,
.text-center {
    text-align: center
}

a,
a:focus,
a:hover,
a:visited {
    text-decoration: none
}

.btn,
.footer-bottom .footer-social,
img {
    vertical-align: middle
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100% font-size: 10px;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased
}

body {
    font-size: 16px;
    background-color: #fff margin: 0
}

a {
    background-color: transparent
}

b,
strong {
    font-weight: 700
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

textarea {
    overflow: auto
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.card,
.card-container,
.container,
body,
html {
    box-sizing: border-box
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.panel-title,
p {
    font-size: 16px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #fff
}

.navbar-default .navbar-nav>li>a:hover {
    color: #3aa6fe
}

.navbar-collapse.in {
    overflow-y: auto
}

.collapsing,
.mocked-features,
.package,
.sr-only,
.subscribe-form,
.visuallyhidden {
    overflow: hidden
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.owl-carousel .owl-item {
    float: left
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 980;
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin: 0;
    min-height: 80px
}

.navbar-default .navbar-nav>li>a {
    font-family: Barlow, sans-serif;
    color: #505050;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px
}

.navbar-default.affix {
    min-height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1)
}

.navbar-default.affix .navbar-nav {
    margin-top: 5px;
    margin-bottom: 5px
}

.navbar-default.affix .navbar-nav>li>a {
    color: #505050
}

.navbar-default.affix .navbar-nav>li>a:hover {
    color: #3aa6fe
}

.navbar-default.affix .navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px
}

.collapsing {
    position: relative;
    height: 0;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility
}

.collapse {
    display: none
}

.panel-group .panel-heading+.panel-collapse>.list-group,
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.btn,
label {
    display: inline-block
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

p {
    margin: 0 0 10px
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-12 {
    width: 100%
}

label {
    margin-bottom: 5px;
    font-weight: 700
}

.btn {
    margin-bottom: 0;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.panel-title,
.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
    color: inherit
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0
}

.panel-group {
    margin-bottom: 20px
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}

.panel-group .panel+.panel {
    margin-top: 5px
}

.panel-group .panel-heading {
    border-bottom: 0
}

.panel-default {
    border-color: #ddd
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}

.affix {
    position: fixed
}

.owl-carousel,
.owl-carousel .owl-wrapper {
    position: relative;
    display: none
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

body,
p {
    font-weight: 300;
    line-height: 28px
}

.owl-carousel {
    width: 100%;
    -ms-touch-action: pan-y
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px
}

.section,
blockquote {
    position: relative
}

body {
    font-family: Roboto, sans-serif;
    color: #505050
}

.h2,
h2 {
    font-size: 4.8rem
}

.h3,
h3 {
    font-size: 3.6rem
}

.h4,
h4 {
    font-size: 2.4rem
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.308333;
    font-weight: 600;
    font-family: Barlow, sans-serif;
    color: #222
}

a {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.btn,
[type=submit] {
    font-size: 16px;
    -webkit-transition: all .3s ease;
    font-family: Barlow, sans-serif;
    letter-spacing: 1px
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]),
textarea {
    width: 100%;
    line-height: 1.4;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: 0
}

[type=submit] {
    font-weight: 600;
    line-height: 45px;
    border: none;
    transition: all .3s ease;
    border-radius: 3px
}

.btn,
blockquote {
    line-height: 28px
}

.text-white {
    color: #fff!important
}

.section-padding {
    padding: 120px 0
}

.section-padding.bottom-0 {
    padding-bottom: 0
}

.primary-gradient-bg {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0, #49deff 100%)
}

.mocks-background {
    background: url(../images/mocks/elements-bg.png) center center no-repeat
}

blockquote {
    font-weight: 400;
    border: none;
    margin-top: 10px;
    margin-bottom: 0
}

blockquote:before {
    content: url(../images/blockquote.png);
    position: absolute;
    top: 35px;
    left: 35px
}

.input-success {
    background-color: #3aa6fe;
    color: #fff;
}

.newsletter-success {
    background-color: transparent;
    color: #fff;
    position: absolute;
}

.input-error,
.newsletter-error {
    background-color: #e74c3c;
    color: #fff
}

.input-error,
.input-success,
.newsletter-error,
.newsletter-success {
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    display: none;
    padding: 4px 15px;
    border-radius: 3px
}

.btn {
    border-radius: 24px;
    color: #505050;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    padding: 10px 37px;
    border: none;
    transition: all .3s ease
}

.btn-gradient,
.btn:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0, #49deff 100%)
}

.btn-gradient:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#3aa6fe));
    background-image: linear-gradient(90deg, #3aa6fe 0, #3aa6fe 100%)
}

.how-it-works {
    margin-bottom: -40px
}

.mocked-features {
    zoom: 1;
    position: relative
}

.mocked-features .feature-item {
    margin-top: 22px
}

.mocked-features .feature-item+.feature-item {
    margin-top: 25px
}

.mocked-features .feature-item .feature-icon {
    font-size: 3rem;
    line-height: 1
}

.mocked-features .feature-item .feature-title {
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 0
}

.mocked-features .feature-item p {
    margin-top: 10px;
    margin-bottom: 0
}

.mocked-features.style-1 .feature-item+.feature-item,
.package {
    margin-top: 60px
}

.mocked-features .col-md-4:first-child .feature-item {
    text-align: right
}

.mocked-features.style-1 {
    margin-bottom: -40px
}

.mocked-features.style-1 .feature-item {
    float: left;
    width: 100%
}

.mocked-features.style-1 .feature-item .feature-icon img {
    max-width: 30px
}

.mocked-features.style-1 .col-md-4:first-child .feature-item .feature-body {
    float: right
}

.screenshot-carousel-1 .owl-next,
.screenshot-carousel-1 .owl-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
    width: 35px;
    height: 35px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #3aa6fe;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

a,
form {
    position: relative
}

.screenshot-carousel-1 .owl-next i,
.screenshot-carousel-1 .owl-prev i {
    color: #3aa6fe
}

.screenshot-carousel-1 .owl-prev {
    left: -50px
}

.screenshot-carousel-1 .owl-next {
    right: -50px
}

.pricing-area .pricing-packages .package {
    -webkit-box-shadow: 0 5px 20px 0 rgba(58, 167, 254, .25);
    box-shadow: 0 5px 20px 0 rgba(58, 167, 254, .25);
    margin-bottom: -50px
}

.pricing-packages {
    float: left;
    width: 100%
}

.package {
    background-color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.package .package-header {
    text-align: center;
    padding: 24px 30px;
    font-family: Barlow, sans-serif
}

.package .package-header .pack-name {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #505050
}

.package .pack-price {
    text-align: center;
    padding: 0 30px;
    font-size: 40px;
    line-height: 1;
    font-weight: 600;
    font-family: Barlow, sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #222
}

.package .pack-feature-list {
    list-style: none;
    margin: 45px 0 0;
    padding: 0 30px;
    text-align: center;
    line-height: 35px;
    color: #505050
}

.package .pack-footer {
    padding: 30px 0 40px;
    text-align: center
}

.package .pack-footer .btn {
    border: 1px solid #e6e6e6;
    padding: 5px 25px
}

.package .pack-footer .btn:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0, #49deff 100%)
}

.package.active,
.package:hover {
    -webkit-box-shadow: 0 5px 20px 0 rgba(58, 167, 254, .25);
    box-shadow: 0 5px 20px 0 rgba(58, 167, 254, .25)
}

.package.active .pack-price,
.package:hover .pack-price {
    background-image: -webkit-gradient(linear, left top, right top, from(#00aff0), to(#99dff9));
    background-image: linear-gradient(to right, #00aff0, #99dff9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

.annual_button,
.package.active .pack-footer .btn,
.package:hover .pack-footer .btn {
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    color: #fff
}

.package.active .pack-footer .btn,
.package:hover .pack-footer .btn {
    background-image: linear-gradient(90deg, #3aa6fe 0, #49deff 100%)
}

.annual_price_color {
    background-image: -webkit-gradient(linear, left top, right top, from(#00aff0), to(#99dff9));
    background-image: linear-gradient(to right, #00aff0, #99dff9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

.annual_button {
    background-image: linear-gradient(90deg, #3aa6fe 0, #49deff 100%)
}

.testimonial .testimonial-item {
    max-width: 630px;
    background-color: #fff;
    -webkit-box-shadow: 0 20px 25px 0 rgba(58, 167, 254, .15);
    box-shadow: 0 20px 25px 0 rgba(58, 167, 254, .15);
    border-radius: 10px;
    margin: 0 auto 30px;
    text-align: center;
    padding: 20px 45px
}

.testimonial .testimonial-item .reviewer-pic img {
    max-width: 95px
}

.testimonial .testimonial-item .reviewer-name {
    font-size: 24px;
    font-weight: 400;
    color: #222;
    margin-top: 16px
}

.testimonial .testimonial-item blockquote {
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    color: #505050;
    border: none;
    padding: 15px;
    margin-bottom: 10px
}

.testimonial .testimonial-item blockquote:before {
    content: none
}

.testimonial-carousel-1 .owl-pagination {
    margin: 10px 0 0;
    padding: 0;
    text-align: center
}

.testimonial-carousel-1 .owl-pagination .owl-page {
    display: inline-block;
    background-color: #d3d3d3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    padding: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin: 0 5px
}

.testimonial-carousel-1 .owl-pagination .owl-page.active {
    width: 15px;
    height: 15px;
    background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
    background-image: linear-gradient(90deg, #3aa6fe 0, #49deff 100%)
}

.member {
    text-align: center
}

.member .member-image {
    margin-bottom: 20px
}

.member .member-image img {
    max-width: 200px;
    margin: 0 auto;
    border-radius: 50%
}

.member .member-content .member-title {
    font-size: 20px;
    margin: 0
}

.member .member-content .member-title a {
    color: #222;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.member .member-content .member-position {
    font-weight: 400
}

.member .member-content .social {
    line-height: 1
}

.member .member-content .social a {
    color: #000;
    font-size: 16px;
    font-weight: 300
}

.member .member-content .social a+a {
    padding-left: 8px
}

.subscribe-area {
    text-align: center
}

.subscribe-form {
    width: 100%;
    max-width: 570px;
    margin: 37px auto 0;
    border: 1px solid #fff;
    border-radius: 25px
}

.subscribe-form input:not([type=submit]) {
    background-color: transparent!important;
    border: none!important;
    line-height: 50px!important;
    width: calc(100% - 130px)!important;
    display: inline-block!important;
    float: left!important;
    margin-bottom: 0!important;
    padding: 0 30px!important
}

.subscribe-form [type=submit] {
    font-family: Barlow, sans-serif;
    background-color: #fff;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    width: 130px;
    letter-spacing: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: left;
    line-height: 50px;
    border: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.subscribe-form::-webkit-input-placeholder {
    color: #fff
}

.subscribe-form:-moz-placeholder {
    color: #fff
}

.subscribe-form::-moz-placeholder {
    color: #fff
}

.subscribe-form:-ms-input-placeholder {
    color: #fff
}

.subscribe-body .logo {
    margin-bottom: 30px
}

.subscribe-body .subscribe-heading {
    font-size: 35px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 20px
}

.subscribe-body .input-success .newsletter-success {
    margin: auto;
}

.contact-faq-area .section-header {
    margin-bottom: 40px
}

.contact-faq-area .faq-area {
    margin-right: 10px
}

.contact-form .btn {
    color: #fff;
    padding: 9px 46px
}

.contact-area .input-error,
.contact-area .input-success {
    display: none
}

.contact-area .contact-info-box {
    margin-top: 40px
}

.contact-area .contact-info-box p {
    margin-bottom: 5px
}

.contact-area .contact-info-box strong {
    margin-right: 8px
}

.footer-bottom {
    padding: 15px 0
}

.footer-bottom .footer-social {
    display: inline-block;
    float: right;
    margin-top: 15px
}

.footer-bottom .footer-social a {
    color: #505050;
    font-size: 16px
}

.url-try-it-yourself {
    height: 444.5px;
    padding-top: 100px
}

#demoForm button {
    border: 1px solid #000;
    background-color: #fff
}

.light {
    color: #000;
    margin-bottom: 15px
}

blockquote,
body,
dd,
dl,
figure,
hr,
html,
ol,
pre,
ul {
    margin: 0;
    padding: 0
}

body,
html {
    overflow-x: hidden
}

img {
    border: 0
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: 300;
    margin: .25em 0
}

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 100
}

h3 {
    font-size: 30px;
    line-height: 40px
}

h4 {
    font-size: 24px;
    line-height: 32px
}

a {
    color: #1c79c0
}

.card-container.grid .card-link p::before,
a code::before,
a.underlined::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -3px;
    content: '';
    left: 0;
    height: 1px;
    position: absolute;
    right: 0
}

blockquote {
    color: #797c82;
    border-left: 4px solid #f9f9f9;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

p:last-child {
    margin-bottom: 0
}

.container {
    margin: 0 auto;
    max-width: 3000px;
    padding: 0 22px
}

.card-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px
}

.card {
    background: #fff;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .075);
    display: inline-block;
    flex: 0 0 31%;
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px);
    height: 90%;
    margin: 10px 5px;
    padding: 10px;
    position: relative;
    transition: transform .3s, box-shadow .3s
}

.card::before {
    background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
    top: -2px
}

.card:hover {
    box-shadow: 0 3px 50px 0 rgba(0, 0, 0, .075);
    transform: translateY(-5px)
}

.card-inner {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%
}

.card-container.grid {
    flex-wrap: wrap
}

.card-container.grid::after {
    content: '';
    display: block;
    flex: 0 0 31%;
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px);
    margin: 10px 5px;
    visibility: hidden
}

.card-container.grid .card {
    display: flex;
    height: auto;
    min-height: 400px;
    padding: 0
}

.card-container.grid .card:hover .card-link p::before {
    animation: .5s 1 cta-line
}

.card-container.grid .card-inner {
    display: flex;
    height: auto;
    padding: 50px;
    width: 100%
}

.card-container.grid .card-title {
    display: block;
    flex: 1 0 auto;
    hyphens: none;
    margin-bottom: 1em
}

.card-container.grid .card-link p {
    color: #1c79c0;
    display: inline;
    margin: 0;
    padding: 0;
    position: relative
}

.card-container.grid .card-link p::before {
    bottom: -5px;
    height: 2px
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-twitter:before {
    content: "\f099"
}

.fa-linkedin:before {
    content: "\f0e1"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.faq-accordion .panel.panel-default {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.faq-accordion .panel.panel-default>.panel-heading+.panel-collapse>.panel-body {
    -o-border-image: url(../images/faq/faq-border.png) 100 round;
    border-image: url(../images/faq/faq-border.png) 100 round
}

.faq-accordion .panel+.panel {
    margin-top: 0
}

.faq-accordion .panel .panel-heading {
    background-color: transparent;
    border: none;
    padding: 0
}

.faq-accordion .panel .panel-heading .panel-title {
    font-size: 20px;
    font-weight: 400
}

.faq-accordion .panel .panel-heading .panel-title a {
    padding: 20px 0;
    display: block;
    border-bottom: 1px solid #dbdbdb;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.faq-accordion .panel .panel-heading .panel-title a:before {
    content: "\f059";
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px
}

.faq-accordion .panel .panel-heading .panel-title a[aria-expanded=true] {
    border-color: #3aa6fe
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
    .navbar-toggle {
        display: none
    }
    .navbar-right~.navbar-right {
        margin-right: 0
    }
}

@media (min-width:992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-8 {
        width: 66.66666667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-5 {
        width: 41.66666667%
    }
    .col-md-4 {
        width: 33.33333333%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media only screen and (max-width:1200px) {
    p {
        font-size: 16px
    }
    .app-features {
        margin-top: 38px
    }
}

@media only screen and (max-width:768px) {
    p {
        font-size: 16px
    }
    .iphone {
        margin-top: 120px;
        margin-bottom: 50px
    }
}

@media only screen and (max-width:320px) {
    .iphone {
        margin-top: 150px;
        margin-bottom: 50px
    }
}

@media screen and (max-width:991px) {
    .section-padding {
        padding: 80px 20px
    }
    .navbar-default .navbar-header {
        float: none
    }
    .navbar-default .navbar-left,
    .navbar-default .navbar-right {
        float: none!important
    }
    .navbar-default .navbar-toggle {
        display: block;
        border-radius: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        margin-top: 64px;
        margin-bottom: 15px;
        margin-right: 0;
        border-color: #3aa6fe
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #3aa6fe;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }
    .navbar-default .navbar-toggle.collapsed {
        background-color: transparent
    }
    .navbar-default .navbar-collapse {
        border-top: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
        background-color: #fff
    }
    .navbar-default .navbar-collapse.collapse {
        display: none!important
    }
    .navbar-default .navbar-nav {
        float: none!important;
        margin-top: 7.5px
    }
    .navbar-default .navbar-nav>li {
        float: none
    }
    .navbar-default .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .navbar-default .collapse.in {
        display: block!important
    }
    .navbar-default .navbar-nav li {
        clear: both
    }
    .navbar-default .navbar-right {
        margin-right: 0
    }
    .navbar-default.affix .navbar-toggle {
        margin-top: 13px;
        margin-bottom: 13px
    }
    .screenshot-carousel-1 .owl-buttons,
    .screenshot-carousel-2 .owl-buttons {
        display: block;
        margin-top: 25px;
        text-align: center
    }
    .screenshot-carousel-1 .owl-buttons .owl-next,
    .screenshot-carousel-1 .owl-buttons .owl-prev,
    .screenshot-carousel-2 .owl-buttons .owl-next,
    .screenshot-carousel-2 .owl-buttons .owl-prev {
        position: static;
        display: inline-block;
        margin: 0 10px;
        -webkit-transform: none;
        transform: none
    }
    .pricing-area .pricing-packages .package .package-header {
        padding-bottom: 10px
    }
    .pricing-area .pricing-packages .package .pack-price {
        margin-top: 0
    }
    .pricing-area .pricing-packages .package .pack-feature-list {
        margin-top: 30px
    }
    .pricing-area .pricing-packages .package .pack-footer {
        padding-top: 20px;
        padding-bottom: 30px
    }
    .team-items {
        margin-bottom: -50px;
        float: left;
        width: 100%
    }
    .team-items .member {
        margin-bottom: 50px
    }
    .footer-bottom {
        text-align: center
    }
    .footer-bottom .footer-logo {
        margin-bottom: 10px
    }
    .footer-bottom .footer-social {
        width: 100%
    }
    .contact-info-box {
        margin-top: 50px
    }
}

@media screen and (max-width:767px) {
    .navbar-default .navbar-brand {
        margin-top: 5px
    }
    .navbar-default .navbar-toggle {
        margin-top: 23px;
        margin-right: 15px
    }
    .mocked-features .col-md-4:first-child .feature-item .feature-icon {
        float: left!important;
        margin-left: 0!important;
        margin-right: 30px!important
    }
    .mocked-features .col-md-4:first-child .feature-item {
        text-align: left
    }
}

@media screen and (max-width:479px) {
    .screenshot-carousel-1 .screenshot-item {
        max-width: 295px;
        margin: 0 auto
    }
}

@media only screen and (max-width:956px) {
    body {
        padding-top: 60px
    }
    h2 {
        font-size: 26px;
        line-height: 40px;
        font-weight: 300
    }
    h3 {
        font-size: 20px;
        line-height: 28px
    }
    h4 {
        font-size: 18px;
        line-height: 26px
    }
    a {
        font-size: 14px
    }
    nav a,
    nav li {
        font-size: 10px
    }
    .card-container.case .card,
    .card-container.grid .card {
        flex: 0 0 48%;
        flex: 0 0 calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }
    .card-container.case .card-title,
    .card-container.grid .card-title {
        margin-bottom: 2em
    }
}

@media only screen and (max-width:768px) {
    .card-container.case .card,
    .card-container.grid .card {
        flex: 0 0 100%;
        margin: 10px 0;
        min-height: 300px
    }
}

@media only screen and (min-width:600px) {
    .newsletter-error, .newsletter-success {
        margin-top: 20px;
        margin-left: 25%;
        margin-bottom: 0;
        text-align: center;
        display: none;
        padding: 4px 15px;
        border-radius: 3px;
    }
}
#subscription_email {
    font-weight: 600;
}

#subscription_email::placeholder { /* Chrome Firefox, Opera, Safari*/
    color: #fff;
}

#subscription_email:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

#subscription_email::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}