@media (min-width: 768px) {
    .container {
        width:750px
    }
}
@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}
@media (min-width: 768px) {
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9 {
        float:left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-4 {
        width: 33.33333333%
    }
}

@media (min-width: 992px) {
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9 {
        float:left
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-offset-3 {
        margin-left: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }

}
@media (min-width: 768px) {
    .navbar {
        border-radius:4px
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float:left
    }
}



@media (min-width: 768px) {
    .navbar-collapse {
        width:auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
}



@media (min-width: 768px) {
    .navbar-toggle {
        display:none
    }
}



@media (min-width: 768px) {
    .navbar-nav {
        float:left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
        margin-right: -15px
    }

    .navbar-right~.navbar-right {
        margin-right: 0
    }
}
@media (max-width: 767px) {
    .hidden-xs {
        display:none!important
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .hidden-sm {
        display:none!important
    }
}
@media only screen and (max-width: 1200px) {
    p {
      font-size: 16px;
    }

    .app-features {
      margin-top: 38px;
  }
}
@media only screen and (max-width: 768px) {
    p {
      font-size: 16px;
    }

    .iphone {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 320px) {

    .iphone {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 991px) {
  .section-padding {
    padding: 80px 20px;
  }
  .navbar-default .navbar-header {
    float: none;
  }
  .navbar-default .navbar-left,
  .navbar-default .navbar-right {
    float: none !important;
  }
  .navbar-default .navbar-toggle {
    display: block;
    border-radius: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 64px;
    margin-bottom: 15px;
    margin-right: 0;
    border-color: #3aa6fe;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #3aa6fe;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar-default .navbar-toggle.collapsed {
    background-color: transparent;
  }
  .navbar-default .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
  }

  .navbar-default .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-default .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-default .navbar-nav > li {
    float: none;
  }
  .navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .collapse.in {
    display: block !important;
  }
  .navbar-default .navbar-nav li {
    clear: both;
  }
 
  .navbar-default .navbar-right {
    margin-right: 0;
  }
  .navbar-default.affix .navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .screenshot-carousel-1 .owl-buttons,
  .screenshot-carousel-2 .owl-buttons {
    display: block;
    margin-top: 25px;
    text-align: center;
  }
  .screenshot-carousel-1 .owl-buttons .owl-prev,
  .screenshot-carousel-1 .owl-buttons .owl-next,
  .screenshot-carousel-2 .owl-buttons .owl-prev,
  .screenshot-carousel-2 .owl-buttons .owl-next {
    position: static;
    display: inline-block;
    margin: 0 10px;
    -webkit-transform: none;
            transform: none;
  }

  .pricing-area .pricing-packages .package .package-header {
    padding-bottom: 10px;
  }
  .pricing-area .pricing-packages .package .pack-price {
    margin-top: 0;
  }
  .pricing-area .pricing-packages .package .pack-feature-list {
    margin-top: 30px;
  }
  .pricing-area .pricing-packages .package .pack-footer {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .team-items {
    margin-bottom: -50px;
    float: left;
    width: 100%;
  }
  .team-items .member {
    margin-bottom: 50px;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .footer-logo {
    margin-bottom: 10px;
  }
  .footer-bottom .footer-social {
    width: 100%;
  }
  .contact-info-box {
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
	.navbar-default .navbar-brand {
    margin-top: 5px;
  }
  .navbar-default .navbar-toggle {
    margin-top: 23px;
    margin-right: 15px;
  }
  .mocked-features .col-md-4:first-child .feature-item .feature-icon {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 30px !important;
  }
  .mocked-features .col-md-4:first-child .feature-item {
	    text-align: left;
	}
}

@media screen and (max-width: 479px) {
	.screenshot-carousel-1 .screenshot-item {
    max-width: 295px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 956px) {
    body {
        padding-top: 60px
    }
}
@media only screen and (max-width: 956px) {
    h2 {
        font-size: 26px;
        line-height: 40px;
        font-weight: 300
    }
}
@media only screen and (max-width: 956px) {
    h3 {
        font-size: 20px;
        line-height: 28px
    }
}
@media only screen and (max-width: 956px) {
    h4 {
        font-size: 18px;
        line-height: 26px
    }
}
@media only screen and (max-width: 956px) {
    a {
        font-size: 14px
    }
}
@media only screen and (max-width: 956px) {
    nav li,
    nav a {
        font-size: 10px
    }
}
@media only screen and (max-width: 956px) {
    .card-container.grid .card,
    .card-container.case .card {
        flex: 0 0 48%;
        flex: 0 0 calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }
    .card-container.grid .card-title,
    .card-container.case .card-title {
        margin-bottom: 2em
    }
}
@media only screen and (max-width: 768px) {
    .card-container.grid .card,
    .card-container.case .card {
        flex: 0 0 100%;
        margin: 10px 0;
        min-height: 300px
    }
}