.collapse.in {
    display: block
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility
}
.collapse {
    display: none
}
.panel-group .panel-heading+.panel-collapse>.list-group,.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd
}

.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
    display: table;
    content: " "
}

.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
    clear: both
}

.faq-accordion .panel.panel-default {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.faq-accordion .panel.panel-default > .panel-heading + .panel-collapse > .panel-body {
  -o-border-image: url(../images/faq/faq-border.png) 100 round;
     border-image: url(../images/faq/faq-border.png) 100 round;
}
.faq-accordion .panel + .panel {
  margin-top: 0;
}
.faq-accordion .panel .panel-heading {
  background-color: transparent;
  border: none;
  padding: 0;
}
.faq-accordion .panel .panel-heading .panel-title {
  font-size: 20px;
  font-weight: 400;
}
.faq-accordion .panel .panel-heading .panel-title a {
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq-accordion .panel .panel-heading .panel-title a:before {
  content: "\f059";
  font-family: "FontAwesome";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.faq-accordion .panel .panel-heading .panel-title a[aria-expanded=true] {
    border-color: #3aa6fe;
}