html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

a {
    background-color: transparent
}

b,strong {
    font-weight: 700
}

img {
    border: 0
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

img {
    vertical-align: middle
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

[role=button] {
    cursor: pointer
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1,.h2,.h3,h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,.h5,.h6,h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h2,h2 {
    font-size: 30px
}

.h3,h3 {
    font-size: 24px
}

.h4,h4 {
    font-size: 18px
}

p {
    margin: 0 0 10px
}

.text-center {
    text-align: center
}

ol,ul {
    margin-top: 0;
    margin-bottom: 10px
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}



.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05)
}

.panel-body {
    padding: 15px
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a {
    color: inherit
}

.panel-group {
    margin-bottom: 20px
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px
}

.panel-group .panel+.panel {
    margin-top: 5px
}

.panel-group .panel-heading {
    border-bottom: 0
}

.panel-default {
    border-color: #ddd
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd
}
.affix {
    position: fixed
}

/*END OF BOOTSTRAP*/

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}


body {
  font-family: "Roboto", sans-serif;
  color: #505050;
  line-height: 28px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

p:last-child {
  margin-bottom: 0;
}
h2,
.h2 {
  font-size: 4.8rem;
}

h3,
.h3 {
  font-size: 3.6rem;
}

h4,
.h4 {
  font-size: 2.4rem;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.308333;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: #222222;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:focus, a:visited {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]), textarea {
  width: 100%;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 10px 20px;
  margin-bottom: 20px;
  outline: none;
}
[type=submit] {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 45px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
  outline: none;
}
.text-white {
  color: #fff !important;
}

.section-padding {
  padding: 120px 0;
}
.section-padding.bottom-0 {
  padding-bottom: 0;
}

.section {
  position: relative;
}

.section-header {
  margin-bottom: 70px;
}
.section-header .section-title {
  margin: 0;
  font-size: 40px;
  line-height: 1;
}
.section-header .section-text {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 20px;
  color: #505050;
  line-height: 30px;
}
.primary-gradient-bg {
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
}
.mocks-background {
  background: url(../images/mocks/elements-bg.png) no-repeat center center;
}
blockquote {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  border: none;
  padding: 15px 60px 20px 90px;
  margin-top: 10px;
  margin-bottom: 0;
}
blockquote:before {
  content: url(../images/blockquote.png);
  position: absolute;
  top: 35px;
  left: 35px;
}
.input-success, .newsletter-success {
  background-color: #3aa6fe;
  color: #fff;
}
.input-error, .newsletter-error {
  background-color: #e74c3c;
  color: #fff;
}
.input-success, .input-error, .newsletter-success, .newsletter-error {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
  display: none;
  padding: 4px 15px;
  border-radius: 3px;
}
.btn {
  font-family: "Barlow", sans-serif;
  border-radius: 24px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #505050;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 37px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
}
.btn-gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
}
.btn-gradient:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#3aa6fe));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #3aa6fe 100%);
}

.how-it-works {
  margin-bottom: -40px;
}
.mocked-features {
  zoom: 1;
  overflow: hidden;
  position: relative;
}
.mocked-features .feature-item {
  margin-top: 22px;
}
.mocked-features .feature-item + .feature-item {
  margin-top: 25px;
}
.mocked-features .feature-item .feature-icon {
  font-size: 3rem;
  line-height: 1;
}
.mocked-features .feature-item .feature-title {
  font-size: 1.8rem;
  margin-top: 15px;
  margin-bottom: 0;
}
.mocked-features .feature-item p {
  margin-top: 10px;
  margin-bottom: 0;
}
.mocked-features .col-md-4:first-child .feature-item {
  text-align: right;
}
.mocked-features.style-1 {
  margin-bottom: -40px;
}
.mocked-features.style-1 .feature-item {
  float: left;
  width: 100%;
}
.mocked-features.style-1 .feature-item + .feature-item {
  margin-top: 60px;
}
.mocked-features.style-1 .feature-item .feature-icon {
  border-radius: 50%;
  background-color: #def0ff;
  width: 70px;
  height: 70px;
  line-height: 60px;
  text-align: center;
  font-size: 2.6rem;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
  color: #3aa6fe;
}
.mocked-features.style-1 .feature-item .feature-icon img {
  max-width: 30px;
}
.mocked-features.style-1 .feature-item .feature-icon + .feature-body {
  width: calc(100% - 100px);
  margin-top: -7px;
}
.mocked-features.style-1 .feature-item .feature-body {
  width: 100%;
  float: left;
}
.mocked-features.style-1 .feature-item .feature-body .feature-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 400;
}
.mocked-features.style-1 .col-md-4:first-child .feature-item .feature-icon {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.mocked-features.style-1 .col-md-4:first-child .feature-item .feature-body {
  float: right;
}
.screenshot-carousel-1 .owl-prev,
.screenshot-carousel-1 .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #3aa6fe;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.screenshot-carousel-1 .owl-prev i,
.screenshot-carousel-1 .owl-next i {
  color: #3aa6fe;
}
.screenshot-carousel-1 .owl-prev {
  left: -50px;
}
.screenshot-carousel-1 .owl-next {
  right: -50px;
}
.pricing-area .pricing-packages .package {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(58, 167, 254, 0.25);
          box-shadow: 0px 5px 20px 0px rgba(58, 167, 254, 0.25);
  margin-bottom: -50px;
}

.pricing-packages {
  float: left;
  width: 100%;
}

.package {
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.package .package-header {
  text-align: center;
  padding: 24px 30px;
  font-family: "Barlow", sans-serif;
}
.package .package-header .pack-name {
  margin: 0;
  color: #505050;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #505050;
}
.package .pack-price {
  text-align: center;
  padding: 0 30px;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #222;
}
.package .pack-feature-list {
  list-style: none;
  margin: 0;
  margin-top: 45px;
  padding: 0 30px;
  text-align: center;
  line-height: 35px;
  color: #505050;
}
.package .pack-footer {
  padding: 30px 0 40px 0;
  text-align: center;
}
.package .pack-footer .btn {
  border: 1px solid #e6e6e6;
  padding: 5px 25px;
}
.package .pack-footer .btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
}
.package:hover, .package.active {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(58, 167, 254, 0.25);
          box-shadow: 0px 5px 20px 0px rgba(58, 167, 254, 0.25);
}
.package:hover .pack-price, .package.active .pack-price {
  background-image: -webkit-gradient(linear, left top, right top, from(#00aff0), to(#99dff9));
  background-image: linear-gradient(to right, #00aff0, #99dff9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.package:hover .pack-footer .btn, .package.active .pack-footer .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
  color: #ffffff;
}

.annual_price_color{
  background-image: -webkit-gradient(linear, left top, right top, from(#00aff0), to(#99dff9));
  background-image: linear-gradient(to right, #00aff0, #99dff9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.annual_button{
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
  color: #ffffff;
}
.testimonial .testimonial-item {
  max-width: 630px;
  background-color: white;
  -webkit-box-shadow: 0px 20px 25px 0px rgba(58, 167, 254, 0.15);
          box-shadow: 0px 20px 25px 0px rgba(58, 167, 254, 0.15);
  border-radius: 10px;
  margin: 0px auto 30px auto;
  text-align: center;
  padding: 20px 45px;
}
.testimonial .testimonial-item .reviewer-pic img {
  max-width: 95px;
  /*border-radius: 50%;*/
}
.testimonial .testimonial-item .reviewer-name {
  font-size: 24px;
  font-weight: 400;
  color: #222;
  margin-top: 16px;
}
.testimonial .testimonial-item blockquote {
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
  color: #505050;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
}
.testimonial .testimonial-item blockquote:before {
  content: none;
}
.testimonial-carousel-1 .owl-pagination {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}
.testimonial-carousel-1 .owl-pagination .owl-page {
  display: inline-block;
  background-color: #d3d3d3;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 0 5px;
}
.testimonial-carousel-1 .owl-pagination .owl-page.active {
  width: 15px;
  height: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#3aa6fe), to(#49deff));
  background-image: linear-gradient(90deg, #3aa6fe 0%, #49deff 100%);
}
.member {
  text-align: center;
}
.member .member-image {
  margin-bottom: 20px;
}
.member .member-image img {
  max-width: 200px;
  margin: 0 auto;
  border-radius: 50%;
}
.member .member-content .member-title {
  font-size: 20px;
  margin: 0;
}
.member .member-content .member-title a {
  color: #222;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.member .member-content .member-position {
  font-weight: 400;
}
.member .member-content .social {
  line-height: 1;
}
.member .member-content .social a {
  color: black;
  font-size: 16px;
  font-weight: 300;
}
.member .member-content .social a + a {
  padding-left: 8px;
}
.subscribe-area {
  text-align: center;
}
form {
  position: relative;
}

.subscribe-form {
  width: 100%;
  max-width: 570px;
  margin: 37px auto 0;
  border: 1px solid #ffffff;
  border-radius: 25px;
  overflow: hidden;
}
.subscribe-form input:not([type=submit]) {
  background-color: transparent !important;
  border: none !important;
  line-height: 50px !important;
  width: calc(100% - 130px) !important;
  display: inline-block !important;
  float: left !important;
  margin-bottom: 0 !important;
  padding: 0 30px !important;
}
.subscribe-form [type=submit] {
  font-family: "Barlow", sans-serif;
  background-color: #ffffff;
  color: #222;
  font-weight: 600;
  font-size: 16px;
  width: 130px;
  letter-spacing: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: left;
  line-height: 50px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.subscribe-form ::-webkit-input-placeholder {
  color: white;
}
.subscribe-form :-moz-placeholder {
  color: white;
}
.subscribe-form ::-moz-placeholder {
  color: white;
}
.subscribe-form :-ms-input-placeholder {
  color: white;
}
.subscribe-body .logo {
  margin-bottom: 30px;
}
.subscribe-body .subscribe-heading {
  font-size: 35px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 20px;
}
.contact-faq-area .section-header {
  margin-bottom: 40px;
}
.contact-faq-area .faq-area {
  margin-right: 10px;
}
.contact-form .btn {
  color: #fff;
  padding: 9px 46px;
}

.contact-area .input-success, .contact-area .input-error {
  display: none;
}
.contact-area .contact-info-box {
  margin-top: 40px;
}
.contact-area .contact-info-box p {
  margin-bottom: 5px;
}
.contact-area .contact-info-box strong {
  margin-right: 8px;
}
.footer-bottom {
  padding: 15px 0;
}
.footer-bottom .footer-social {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 15px;
}
.footer-bottom .footer-social a {
  color: #505050;
  font-size: 16px;
}
.app-features {
  margin-top: 100px;
}


.url-try-it-yourself {
	height: 444.5px;
	padding-top: 100px;
}
#demoForm button {
	border: solid 1px black;
	background-color: #fff;
}




.light {
    color: black;
    margin-bottom: 15px
}
html,
body,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden
}

img {
    border: 0;
    max-width: 100%
}
h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: 300;
    margin: 0.25em 0
}
h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 100
}



h3 {
    font-size: 30px;
    line-height: 40px
}

h4 {
    font-size: 24px;
    line-height: 32px
}



a {
    color: #1c79c0;
    position: relative;
    text-decoration: none
}

a.underlined::before,
a code::before,
.card-container.grid .card-link p::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -3px;
    content: '';
    left: 0;
    height: 1px;
    position: absolute;
    right: 0
}

blockquote {
    color: #797c82;
    border-left: 4px solid #f9f9f9;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}
p:last-child {
    margin-bottom: 0
}
.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 3000px;
    padding: 0 22px
}

.card-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px
}

.card {
    background: #fff;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 31%;
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px);
    height: 90%;
    margin: 10px 5px;
    padding: 10px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s
}

.card::before {
    background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
    top: -2px
}

.card:hover {
    box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-5px)
}

.card-inner {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%
}
.card-container.grid {
    flex-wrap: wrap
}

.card-container.grid::after {
    content: '';
    display: block;
    flex: 0 0 31%;
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px);
    margin: 10px 5px;
    visibility: hidden
}

.card-container.grid .card {
    display: flex;
    height: auto;
    min-height: 400px;
    padding: 0
}

.card-container.grid .card:hover .card-link p::before {
    animation: .5s 1 cta-line
}

.card-container.grid .card-inner {
    display: flex;
    height: auto;
    padding: 50px;
    width: 100%
}

.card-container.grid .card-title {
    display: block;
    flex: 1 0 auto;
    hyphens: none;
    margin-bottom: 1em
}

.card-container.grid .card-link p {
    color: #1c79c0;
    display: inline;
    margin: 0;
    padding: 0;
    position: relative
}

.card-container.grid .card-link p::before {
    bottom: -5px;
    height: 2px
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.fa-twitter:before {
    content: "\f099"
}
.fa-linkedin:before {
    content: "\f0e1"
}
.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
a:hover {
    text-decoration: none;
}
