.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}
.nav>li {
    position: relative;
    display: block
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}
.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1)
}
.navbar-collapse.in {
    overflow-y: auto
}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}
.navbar-brand>img {
    display: block
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}
.navbar-toggle:focus {
    outline: 0
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}
.navbar-nav {
    margin: 7.5px -15px
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}
.navbar-default .navbar-brand {
    color: #777
}
.navbar-default .navbar-toggle {
    border-color: #ddd
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color: #e7e7e7
}
.navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 980;
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin: 0;
  min-height: 80px;
}
.navbar-default .navbar-brand {
  margin-top: 50px;
  margin-bottom: 5px;
  height: 70px;
  padding: 10px 0;
}
.navbar-default .navbar-nav {
  margin-top: 60px;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a {
  font-family: "Barlow", sans-serif;
  color: #505050;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #3aa6fe;
}
.navbar-default.affix {
  min-height: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.navbar-default.affix .navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default.affix .navbar-nav {
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-default.affix .navbar-nav > li > a {
  color: #505050;
}
.navbar-default.affix .navbar-nav > li > a:hover {
  color: #3aa6fe;
}