.light {
    color: black;
    margin-bottom: 15px
}


html,
body,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

html,
body {
    box-sizing: border-box;
    overflow-x: hidden
}

@media only screen and (max-width: 956px) {
    body {
        padding-top: 60px
    }
}

img {
    border: 0;
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
    font-weight: 300;
    margin: 0.25em 0
}

h1,
h2.h1 {
    font-size: 50px;
    font-weight: 100;
    line-height: 65px
}

@media only screen and (max-width: 956px) {
    h1,
    h2.h1 {
        font-size: 35px;
        line-height: 44px
    }
}

h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 100
}

@media only screen and (max-width: 956px) {
    h2 {
        font-size: 26px;
        line-height: 40px;
        font-weight: 300
    }
}

h3 {
    font-size: 30px;
    line-height: 40px
}

@media only screen and (max-width: 956px) {
    h3 {
        font-size: 20px;
        line-height: 28px
    }
}

h4 {
    font-size: 24px;
    line-height: 32px
}

@media only screen and (max-width: 956px) {
    h4 {
        font-size: 18px;
        line-height: 26px
    }
}

a {
    color: #1c79c0;
    position: relative;
    text-decoration: none
}

a.underlined::before,
a code::before,
.card-container.grid .card-link p::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -3px;
    content: '';
    left: 0;
    height: 1px;
    position: absolute;
    right: 0
}

a.underlined.cta,
a code.cta,
.card-container.grid .card-link p.cta {
    overflow: hidden
}

a.underlined.cta::before,
a code.cta::before,
.card-container.grid .card-link p.cta::before {
    bottom: -5px;
    height: 2px
}

a.underlined.cta:hover::before,
a code.cta:hover::before,
.card-container.grid .card-link p.cta:hover::before {
    animation: 0.5s 1 cta-line
}

@media only screen and (max-width: 956px) {
    a {
        font-size: 14px
    }
}

.button {
    background-color: #0389ff;
    display: inline-block;
    color: #fff;
    padding: 15px 20px;
    position: relative;
    transition: background-color 0.3s
}

.button span {
    position: relative;
    z-index: 1
}

.button::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -2px;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0
}

.button::after {
    background: linear-gradient(36deg, #0dd3ff, #0389ff);
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.button:hover {
    background-color: transparent
}

.button:hover .arrow {
    transform: translateX(3px)
}

.button.light {
    background: #fff;
    color: #1c79c0
}

.button.light::after {
    background: linear-gradient(36deg, #5ADAFD, #51B9FD);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 0
}

.button.light:hover {
    color: #fff
}

.button.light:hover::after {
    opacity: 1
}

.button .arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid white;
    display: inline-block;
    height: 0;
    margin-left: 8px;
    transition: transform 0.3s;
    width: 0
}

.rtl .button .arrow {
    margin: 0 8px 0 0;
    transform: rotate(180deg)
}

.rtl .button:hover .arrow {
    transform: rotate(180deg) translateX(3px)
}

blockquote {
    color: #797c82;
    border-left: 4px solid #f9f9f9;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

.rtl blockquote {
    border-left: 0;
    border-right: 4px solid #f9f9f9;
    padding-left: 0;
    padding-right: 15px
}

p:last-child {
    margin-bottom: 0
}

figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

amp-youtube,
amp-vimeo {
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.1)
}

.rtl figure {
    direction: ltr
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 3000px;
    padding: 0 22px
}

.container.sm {
    max-width: 800px
}

.container.md {
    max-width: 925px
}

.container.lg {
    max-width: 1200px
}

.container.xl {
    max-width: 1440px
}

.wrap {
    margin: 0 auto;
    overflow: hidden
}

:target::before {
    content: '';
    display: block;
    height: 110px;
    margin-top: -110px;
    visibility: hidden
}

@media only screen and (max-width: 956px) {
    :target::before {
        height: 70px;
        margin-top: -70px
    }
}

.header {
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: 300;
    transform: translateZ(0)
}

.header .container {
    position: relative;
    z-index: 1
}

.header.fixed {
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(0%);
    transition: all .4s ease;
    width: 100%;
    z-index: 1000
}

.header .nav-container,
.header .left-nav,
.header .alt,
.header .tabs {
    display: flex
}

.header .nav-container {
    justify-content: space-between;
    position: relative
}

.header .left-nav,
.header .alt {
    justify-content: flex-start
}

.header .left-nav {
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    margin-left: 0
}

.header .left-nav .header-title {
    background: url("/static/img/logo-blue.svg") no-repeat center left/100%;
    color: #0379c4;
    margin: 0;
    padding: 40px 40px 40px 60px;
    text-transform: none;
    white-space: nowrap;
    width: auto
}

.header .left-nav .header-title::after,
.header .left-nav .header-title::before {
    display: none
}

.header .alt,
.header .tabs {
    align-items: stretch
}

.header .alt {
    padding: 0
}

.header .alt.right {
    font-size: 15px
}

.header .tabs {
    justify-content: center;
    margin-left: 40px
}

.header .tab {
    color: #333;
    font-weight: 400;
    margin: 0 4px;
    padding: 6px;
    position: relative;
    transition: .1s ease color
}

.header .tab::after {
    background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
    bottom: 0;
    content: '';
    height: 3px;
    left: 20px;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 20px;
    transition: .1s ease opacity
}

.header .tab:hover,
.header .tab.active {
    color: #1c79c0
}

.header .tab.active::after {
    opacity: 1
}

.header .tab.active:hover::after {
    opacity: 0
}

.header .tab.hamburger {
    align-self: center;
    background: url("/static/img/hamburger.svg") no-repeat center/30px 24px transparent;
    border: 0;
    cursor: pointer;
    display: none;
    height: 40px;
    margin: 0;
    padding: 0;
    width: 40px
}

.header div.tab {
    padding: 6px 15px
}

.header div.tab::before {
    bottom: 0;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    content: '';
    left: -10px;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: 20px;
    transition: opacity .2s ease-out
}

.header div.tab>a {
    color: inherit;
    position: relative;
    top: 19px
}

.header div.tab .list-container>ul,
.header div.tab .sublist {
    list-style: none
}

.header div.tab .list-container,
.header div.tab .sublist {
    opacity: 0;
    pointer-events: none;
    position: absolute
}

.header div.tab .list-container {
    left: -10px;
    top: 100%;
    transition: .2s ease-out;
    z-index: -1
}

.header div.tab .list-shadow {
    bottom: -50px;
    left: -50px;
    overflow: hidden;
    position: absolute;
    right: -50px;
    top: 0
}

.header div.tab .list-shadow::before {
    bottom: 50px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    content: '';
    left: 50px;
    position: absolute;
    right: 50px;
    top: 0
}

.header div.tab .list-container>ul {
    background: #fff;
    min-width: 250px;
    position: relative
}

.header div.tab .list-container>ul li {
    box-sizing: border-box;
    position: relative
}

.header div.tab .list-container>ul li.has-sublist::after {
    width: 6.12px;
    height: 11.88px;
    background-position: -84px -38.94px;
    content: '';
    position: absolute;
    right: 20px;
    top: 18px
}

.header div.tab .list-container>ul li a {
    display: block;
    padding: 7.5px 30px
}

.header div.tab .list-container>ul li:hover {
    background: #f8f8f8
}

.header div.tab .list-container>ul li:hover .sublist {
    opacity: 1;
    pointer-events: all
}

.header div.tab .list-container>ul li.external a {
    background: no-repeat right 15px center / 12px
}

.header div.tab .list-container>ul li.external:hover a {
    background-image: url("/static/img/ic_open_in_new_black.svg")
}

.header div.tab .list-container>ul .sublist {
    background: #f8f8f8;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: opacity .3s;
    max-height: calc(100vh - 295px);
    overflow-y: auto
}

.header div.tab .list-container>ul .sublist li:hover {
    background: white
}

.header div.tab .list-container>ul .sublist li a {
    display: block;
    font-size: 14px;
    line-height: 1.3;
    padding: 15px 35px
}

.header div.tab:hover::before {
    opacity: 1
}

.header div.tab:hover .list-container {
    opacity: 1;
    pointer-events: all;
    z-index: 0
}

@media only screen and (max-width: 956px) {
    .header .container {
        padding-right: 18px
    }
    .header .left-nav {
        flex: 1 1 auto;
        width: auto
    }
    .header .left-nav .header-title {
        margin: 0;
        padding: 30px 30px 30px 50px;
        width: auto
    }
    .header div.tab,
    .header .desktop {
        display: none
    }
    .header .tab.hamburger {
        display: inline-block
    }
}

.rtl .header .tabs {
    margin-right: 60px
}

.rtl .header .tab .list-container {
    left: auto;
    right: -10px
}

.rtl .header .tab .list-container>ul li.has-sublist::after {
    left: 20px;
    right: auto;
    transform: rotate(180deg)
}

.rtl .header .tab .list-container>ul li.external a {
    background-position: left 15px center
}

.rtl .header .tab .list-container>ul .sublist {
    left: 0;
    transform: translateX(-100%);
    right: auto
}

.promo {
    display: flex;
    height: 60px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center
}

.promo .left,
.promo .right {
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
    flex: 1 1 50%;
    padding: 4px 0;
    display: block;
    text-transform: none;
    font-weight: 300
}

.promo .right {
    background: linear-gradient(36deg, #0dd3ff, #0389ff, #1c79c0);
    position: relative
}

.promo .right::before {
    display: block;
    content: '';
    position: absolute;
    top: -10%;
    left: -10px;
    background: #fff;
    width: 20px;
    height: 120%;
    transform: rotate(20deg)
}

.promo .description,
.promo .link {
    color: white;
    line-height: 1.5;
    position: relative
}

.promo .description {
    font-size: 20px
}

@media only screen and (min-width: 958px) {
    .promo .description.desktop-up {
        display: block
    }
}

.promo .link {
    display: inline-block;
    font-weight: 400;
    margin-left: 20px;
    text-transform: uppercase;
    vertical-align: center
}

.promo .link::after {
    background: url(/static/img/arrow.svg) center/cover no-repeat;
    content: '';
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    width: 10px
}

@media only screen and (max-width: 956px) {
    .promo .promo .description,
    .promo .promo .link {
        font-size: 16px
    }
    .promo .promo .description.mobile-down {
        display: block
    }
    .promo .promo .description,
    .promo .promo .link {
        font-size: 14px
    }
}

.promo-line {
    left: 50px;
    top: -50px;
    position: absolute;
    width: 150px
}

.rtl .header .promo .link::after {
    transform: rotate(180deg)
}

.doc-sidebar,
.toc {
    top: 140px
}

.container .content {
    margin: 0 auto;
    min-width: 0;
    padding: 100px 0;
    transition: all .25s ease;
    width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word
}

.main {
    align-items: stretch;
    display: flex;
    margin-left: 300px;
    min-height: calc(100vh - 274px)
}

.main h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    margin-top: 0
}

.main h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px
}

.main h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 30px
}

.main h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px
}

.main h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px
}

.main a {
    font-size: 16px
}

.main aside a {
    font-size: 14px
}

.main hr {
    margin-top: 30px;
    border: 0;
    border-bottom: 2px solid #1c79c0
}

.main .centered-fig {
    text-align: center
}

.main .flex-images {
    display: flex;
    align-items: center
}

.main .special-char {
    font-size: 22px;
    font-weight: 400;
    padding: 10px
}

.main .content {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    max-width: 1000px;
    padding-bottom: 60px;
    padding-top: 70px
}

.main .content ul,
.main .content ol {
    margin-left: 40px
}

.main amp-img,
.main amp-youtube,
.main amp-iframe {
    margin: 1em 0
}

.main .alignment-wrapper {
    margin-bottom: 1em
}

.main .alignment-wrapper.left {
    float: left;
    margin-right: 1em
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.left {
        float: none;
        margin-right: 0
    }
}

.main .alignment-wrapper.right {
    float: right;
    margin-left: 1em
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.right {
        float: none;
        margin-left: 0
    }
}

.main .alignment-wrapper.center {
    margin: 0 auto
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.center {
        float: none;
        margin-left: 0
    }
}

.main .alignment-wrapper.half {
    width: calc(50% - 0.5em)
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.half {
        width: auto
    }
}

.main .alignment-wrapper.third {
    width: calc(33% - 0.5em)
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.third {
        width: auto
    }
}

.main .alignment-wrapper.margin-none {
    margin: 0
}

.main .alignment-wrapper.ninety {
    width: calc(90% - 0.5em)
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.ninety {
        width: auto
    }
}

.main .alignment-wrapper.seventyfive {
    width: calc(75% - 0.5em)
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.seventyfive {
        width: auto
    }
}

.main .alignment-wrapper.forty {
    width: calc(40% - 0.5em)
}

@media only screen and (max-width: 956px) {
    .main .alignment-wrapper.forty {
        width: auto
    }
}

.main .alignment-wrapper amp-img {
    margin: 0
}

.main .alignment-wrapper figcaption {
    font-size: 0.8em;
    color: #666;
    margin-top: 1em;
    padding: 1em 0;
    border-top: 2px solid #f0f0f0;
    text-align: center
}

.rtl .main {
    margin: 0 350px 0 auto
}

@media only screen and (max-width: 956px) {
    .container .content {
        max-width: 100%;
        padding: 70px 0
    }
    .main {
        flex-direction: column;
        margin-left: 0
    }
    .main h1 {
        font-size: 26px;
        line-height: 40px;
        font-weight: 300
    }
    .main h2 {
        font-size: 20px;
        line-height: 28px
    }
    .main h3 {
        font-size: 18px;
        line-height: 26px
    }
    .main a {
        font-size: 14px
    }
    .rtl .main {
        margin-right: 0
    }
}

.error-text {
    color: red
}

.success-text {
    color: green
}

nav.breadcrumb {
    margin: 15px 20px;
    position: absolute;
    z-index: 2
}

nav.breadcrumb ul {
    line-height: 12px;
    list-style: none
}

nav.breadcrumb li,
nav.breadcrumb a {
    color: #959595;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17px;
    text-transform: none
}

nav.breadcrumb li {
    display: inline
}

nav.breadcrumb li::after {
    content: '\00bb';
    margin-left: 5px
}

nav.breadcrumb li:last-child::after {
    content: ''
}

.rtl nav li::after {
    margin-left: 0;
    margin-right: 5px
}

@media only screen and (max-width: 956px) {
    nav li,
    nav a {
        font-size: 10px
    }
}

.language {
    height: 33px;
    left: 100px;
    position: relative;
    top: -4px;
    user-select: none
}

.language section {
    border: 0;
    padding: 0
}

.language section[expanded] .current,
.language section[expanded] .others-inner {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1)
}

.language section[expanded] .current {
    left: 60px
}

.language section[expanded] .current::after {
    transform: scale(0.75)
}

.language h6 {
    color: #333;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    text-transform: uppercase
}

.language h6 span {
    padding-right: 6px
}

.language .current {
    font-size: 1em;
    margin-right: 100px;
    text-align: right;
    width: 140px
}

.language .current::after {
    width: 16px;
    height: 8.3px;
    background-position: -42.58px -54.2px;
    content: '';
    display: inline-block;
    position: relative;
    top: -4px;
    transform: scale(0.75)
}

.language .others {
    padding: 0 50px 50px 50px;
    left: -50px;
    top: -1px
}

.language .others-inner {
    background: #fff;
    margin: 0
}

.language .others-inner div {
    width: 200px
}

.language .others-inner div a {
    margin: 0 10px;
    text-transform: capitalize
}

.language .others-inner div:hover {
    background-color: #f9f9f9
}

.language .current,
.language .others-inner div {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    height: auto;
    padding: 10px 15px 8px
}

.language .current:hover a,
.language .others-inner div:hover a {
    text-decoration: none
}

.language .current a,
.language .others-inner div a {
    color: #333;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap
}

.rtl .language {
    left: auto;
    right: 100px
}

.rtl .language .current {
    margin: 0 0 0 100px;
    right: -60px
}

.rtl .language .others {
    left: auto;
    right: -50px
}

.rtl .language section[expanded] .current {
    left: auto;
    right: 0
}

.rtl .language .current a,
.rtl .language .others-inner div a {
    background-position: right 6px
}

header .language {
    align-self: center;
    margin-left: 12px
}

@media only screen and (max-height: 775px) {
    header .language .others-inner div {
        padding: 7px 15px
    }
    header .language .others-inner div a {
        display: block
    }
}

amp-sidebar .language {
    bottom: 15px;
    left: 10px;
    position: absolute;
    top: auto
}

amp-sidebar .language section[expanded] .current {
    left: 0
}

amp-sidebar .language .current a,
amp-sidebar .language .others-inner div a {
    color: #1c79c0
}

amp-sidebar .language .current {
    margin-right: 0;
    text-align: left
}

amp-sidebar .language .current::after {
    width: 15.53px;
    height: 8.3px;
    background-position: -84px -15.71px;
    top: -5px;
    transform: rotate(180deg) scale(0.75)
}

amp-sidebar .language .others {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    padding: 0;
    transform: translateY(-117%);
    transform: translateY(calc(-100% - 50px))
}

amp-sidebar .language .others .others-inner {
    box-shadow: none;
    width: 240px
}

amp-sidebar .language .others .others-inner::after {
    clear: both;
    content: '';
    display: table
}

amp-sidebar .language .others .others-inner div {
    float: left;
    width: 120px
}

.rtl amp-sidebar .language section[expanded] .current {
    right: -50px
}

pre,
code,
kbd,
samp,
tt {
    font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
    box-shadow: inset 0px 1px 4px #d6d6d6;
    border-radius: 2px
}

code {
    padding: 2px 5px;
    margin: 0 2px
}

a code {
    color: #333;
    white-space: nowrap
}

a:hover code {
    color: #1c79be
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
    background: none;
    border: 0;
    font-size: 0.9em
}

.rtl code {
    direction: ltr
}

pre {
    overflow: auto;
    tab-size: 2;
    word-break: normal;
    line-height: 1.4;
    padding: 1em;
    direction: ltr
}

pre>code {
    white-space: pre;
    word-wrap: initial;
    display: block
}

pre>code td {
    border: 0
}

@media only screen and (max-width: 956px) {
    .code pre {
        margin: 0 -25px
    }
    code {
        font-size: 13px
    }
    table a code {
        line-height: 2;
        white-space: normal
    }
}

.code .hll {
    background-color: #ffffcc
}

.code .c {
    color: #0099FF;
    font-style: italic
}

.code .k {
    color: #006699;
    font-weight: bold
}

.code .o {
    color: #555555
}

.code .cm {
    color: #0099FF;
    font-style: italic
}

.code .cp {
    color: #009999
}

.code .c1 {
    color: #0099FF;
    font-style: italic
}

.code .cs {
    color: #0099FF;
    font-weight: bold;
    font-style: italic
}

.code .gd {
    background-color: #FFCCCC;
    border: 1px solid #CC0000
}

.code .ge {
    font-style: italic
}

.code .gr {
    color: #FF0000
}

.code .gh {
    color: #003300;
    font-weight: bold
}

.code .gi {
    background-color: #CCFFCC;
    border: 1px solid #00CC00
}

.code .go {
    color: #848484
}

.code .gp {
    color: #000099;
    font-weight: bold
}

.code .gs {
    font-weight: bold
}

.code .gu {
    color: #003300;
    font-weight: bold
}

.code .gt {
    color: #99CC66
}

.code .kc {
    color: #006699;
    font-weight: bold
}

.code .kd {
    color: #006699;
    font-weight: bold
}

.code .kn {
    color: #006699;
    font-weight: bold
}

.code .kp {
    color: #006699
}

.code .kr {
    color: #006699;
    font-weight: bold
}

.code .kt {
    color: #007788;
    font-weight: bold
}

.code .m {
    color: #FF6600
}

.code .s {
    color: #CC3300
}

.code .na {
    color: #1867a3
}

.code .nb {
    color: #336666
}

.code .nc {
    color: #00AA88;
    font-weight: bold
}

.code .no {
    color: #336600
}

.code .nd {
    color: #9999FF
}

.code .ni {
    color: #999999;
    font-weight: bold
}

.code .ne {
    color: #CC0000;
    font-weight: bold
}

.code .nf {
    color: #CC00FF
}

.code .nl {
    color: #9999FF
}

.code .nn {
    color: #00CCFF;
    font-weight: bold
}

.code .nt {
    color: #1867a3;
    font-weight: bold
}

.code .nv {
    color: #003333
}

.code .ow {
    color: #000000;
    font-weight: bold
}

.code .w {
    color: #bbbbbb
}

.code .mf {
    color: #FF6600
}

.code .mh {
    color: #FF6600
}

.code .mi {
    color: #FF6600
}

.code .mo {
    color: #FF6600
}

.code .sb {
    color: #CC3300
}

.code .sc {
    color: #CC3300
}

.code .sd {
    color: #CC3300;
    font-style: italic
}

.code .s2 {
    color: #CC3300
}

.code .se {
    color: #CC3300;
    font-weight: bold
}

.code .sh {
    color: #CC3300
}

.code .si {
    color: #AA0000
}

.code .sx {
    color: #CC3300
}

.code .sr {
    color: #33AAAA
}

.code .s1 {
    color: #CC3300
}

.code .ss {
    color: #FFCC33
}

.code .bp {
    color: #336666
}

.code .vc {
    color: #003333
}

.code .vg {
    color: #003333
}

.code .vi {
    color: #003333
}

.code .il {
    color: #FF6600
}

.code .lineno {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none
}

.lineno::selection {
    background-color: transparent
}

aside {
    background: #eff9fc;
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0;
    padding: 24px 24px 24px 80px;
    position: relative;
    clear: both
}

aside strong {
    color: #0389ff;
    text-transform: uppercase
}

aside code {
    font-size: 13px
}

aside::before {
    float: left;
    word-wrap: normal;
    white-space: nowrap;
    margin-left: -36px;
    content: '';
    height: 70px;
    left: 44px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px
}

aside.none {
    background: #fafafa;
    padding: 24px 24px 24px 24px
}

aside.none strong {
    color: #333;
    text-transform: none
}

aside.note::before {
    background: url(/static/img/docs/icon_note.svg) center/cover no-repeat
}

aside.caution {
    background: #fff6f6
}

aside.caution strong {
    color: #ff5252
}

aside.caution::before {
    background: url(/static/img/docs/icon_important.svg) center/cover no-repeat
}

aside.warning {
    background: #fff6f6
}

aside.warning strong {
    color: #ff5252
}

aside.warning::before {
    background: url(/static/img/docs/icon_important.svg) center/cover no-repeat
}

aside.success {
    background-color: #f2fff8
}

aside.success strong {
    color: #00e676
}

aside.success::before {
    background: url(/static/img/docs/icon_tip.svg) center/cover no-repeat;
    top: 45%
}

aside.read {
    background-color: #fffcef
}

aside.read strong {
    color: #edc10a
}

aside.read::before {
    background: url(/static/img/docs/icon_read.svg) center/cover no-repeat
}

.rtl aside {
    padding: 24px 80px 24px 24px
}

.rtl aside::before {
    left: auto;
    margin: 0 -36px 0 0;
    right: 44px
}

.inline-toc {
    margin: 50px 0
}

.inline-toc ul,
.inline-toc ol {
    list-style: none;
    margin: 0 auto;
    text-align: center
}

.inline-toc li {
    display: inline-block;
    margin: 0 25px
}

.inline-toc a {
    color: #959595;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .56px;
    line-height: 28px;
    position: relative;
    text-transform: none
}

.inline-toc a:hover,
.inline-toc a.active {
    color: #333
}

.inline-toc a:hover::before,
.inline-toc a.active::before {
    background: linear-gradient(to right, #0389ff, #0dd3ff);
    bottom: -5px;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

@media only screen and (max-width: 956px) {
    .inline-toc {
        margin: 25px 0
    }
    .inline-toc ul,
    .inline-toc ol {
        border-left: 1px solid #0389ff;
        text-align: left;
        text-align: start
    }
    .inline-toc li {
        display: block;
        line-height: 16px;
        margin: 15px 20px;
        width: 100%
    }
    .inline-toc a {
        color: #333;
        font-size: 16px;
        line-height: 26px
    }
    .rtl .inline-toc ul,
    .rtl .inline-toc ol {
        border-left: 0;
        border-right: 1px solid #0389ff
    }
}

.share-module {
    border-bottom: 0;
    position: absolute;
    z-index: 1
}

.share-module section,
.share-module header {
    border: 0
}

.share-module p.text-label {
    color: #1c79c0;
    text-align: center;
    position: relative;
    top: 63px
}

.share-module .control header {
    width: 85px;
    height: 113px;
    background-color: transparent;
    padding-right: 0;
    position: relative;
    left: -10px;
    top: -10px;
    transition: height .5s
}

.share-module .toggle-buttons {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 10px;
    left: 10px;
    background: #1c79c0;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15)
}

.share-module .button-open,
.share-module .button-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 65px
}

.share-module .button-open {
    background: url(/static/img/symbols/share.svg) center/38% no-repeat;
    transition: opacity .25s
}

.share-module .button-close {
    display: none;
    background: url(/static/img/symbols/share-close.svg) center/38% no-repeat
}

.share-module .share-buttons {
    position: absolute;
    width: 63px;
    height: 355px;
    top: 1px;
    left: 1px
}

.share-module .share-buttons amp-social-share {
    position: absolute;
    width: 63px;
    height: 63px;
    top: 0;
    left: 0;
    transition: transform .25s ease-in-out;
    border-radius: 50%;
    background-size: 70%
}

.share-module .share-content {
    position: absolute;
    top: 0
}

.share-module .share-content header {
    height: 0
}

.share-module .control[expanded] header {
    height: 85px
}

.share-module .control[expanded] .button-close {
    display: block
}

.share-module .control[expanded] .button-open {
    opacity: 0
}

.share-module .control[expanded]+section amp-social-share:nth-child(1) {
    transform: translateY(292px)
}

.share-module .control[expanded]+section amp-social-share:nth-child(2) {
    transform: translateY(219px)
}

.share-module .control[expanded]+section amp-social-share:nth-child(3) {
    transform: translateY(146px)
}

.share-module .control[expanded]+section amp-social-share:nth-child(4) {
    transform: translateY(73px)
}

@media only screen and (max-width: 1121px) {
    .share-module p.text-label {
        top: 58px
    }
}

.rtl .share-module .control header {
    left: auto;
    right: -10px
}

.card-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px
}

.card {
    background: #fff;
    box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 31%;
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px);
    height: 90%;
    margin: 10px 5px;
    padding: 10px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s
}

.card::before {
    background: linear-gradient(to right, #1c79c0, #0389ff, #0dd3ff);
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
    top: -2px
}

.card.centered {
    align-items: center;
    text-align: center
}

.card:hover {
    box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-5px)
}

.card--spacer {
    box-shadow: none;
    height: 0;
    padding: 0
}

.card--spacer::before {
    display: none
}

.card--spacer:hover {
    box-shadow: none
}

.card-inner {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%
}

.card-type {
    color: #1c79c0;
    margin-bottom: 15px
}

.card-content {
    font-weight: 300;
    text-transform: none
}

.card-content h4 {
    hyphens: auto
}

.card-content p {
    line-height: 24px;
    overflow: hidden
}

.card-date {
    margin-top: 10px
}

.card-section-heading {
    font-size: 30px;
    margin: 50px 10px 0
}

.card-container.grid {
    flex-wrap: wrap
}

.card-container.grid::after {
    content: '';
    display: block;
    flex: 0 0 31%;
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px);
    margin: 10px 5px;
    visibility: hidden
}

.card-container.grid .card {
    display: flex;
    height: auto;
    min-height: 400px;
    padding: 0
}

.card-container.grid .card:hover .card-link p::before {
    animation: .5s 1 cta-line
}

.card-container.grid .card-inner {
    display: flex;
    height: auto;
    padding: 50px;
    width: 100%
}

.card-container.grid .card-title {
    display: block;
    flex: 1 0 auto;
    hyphens: none;
    margin-bottom: 1em
}

.card-container.grid .card-title h2 {
    font-size: 36px;
    word-break: initial
}

.card-container.grid .card-link p {
    color: #1c79c0;
    display: inline;
    margin: 0;
    padding: 0;
    position: relative
}

.card-container.grid .card-link p::before {
    bottom: -5px;
    height: 2px
}

.card-container.case .card-inner {
    padding: 50px
}

.card-container.case .card-date::before {
    content: ' | ';
    display: inline;
    margin: 0 12px
}

.card-container.case .card-logo {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 1em 0
}

@media only screen and (max-width: 956px) {
    .card-container.grid .card,
    .card-container.case .card {
        flex: 0 0 48%;
        flex: 0 0 calc(50% - 30px);
        flex-basis: calc(50% - 30px)
    }
    .card-container.grid .card-title,
    .card-container.case .card-title {
        margin-bottom: 2em
    }
    .card-section-heading {
        margin: 50px 0 0
    }
}

@media only screen and (max-width: 768px) {
    .card-container.grid .card,
    .card-container.case .card {
        flex: 0 0 100%;
        margin: 10px 0;
        min-height: 300px
    }
}



