@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57006227');
  src: url('../font/fontello.eot?57006227#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?57006227') format('woff'),
       url('../font/fontello.ttf?57006227') format('truetype'),
       url('../font/fontello.svg?57006227#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57006227#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-gplus-1:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-cancel-1:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-instagramm:before { content: '\e80b'; } /* '' */
.icon-pinterest-circled:before { content: '\e80c'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-deviantart:before { content: '\e811'; } /* '' */
.icon-minus-1:before { content: '\e812'; } /* '' */
.icon-tumblr:before { content: '\e813'; } /* '' */
.icon-vimeo:before { content: '\e814'; } /* '' */
.icon-dribbble:before { content: '\e815'; } /* '' */
.icon-pinterest:before { content: '\e816'; } /* '' */
.icon-vkontakte:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-volume-up:before { content: '\e819'; } /* '' */
.icon-spin2:before { content: '\e81a'; } /* '' */
.icon-angle-double-right:before { content: '\e81b'; } /* '' */
.icon-twitter-squared:before { content: '\e81c'; } /* '' */
.icon-facebook-squared:before { content: '\e81d'; } /* '' */
.icon-social_twitter_square:before { content: '\e81e'; } /* '' */
.icon-social_facebook_square:before { content: '\e81f'; } /* '' */
.icon-social_dribbble_square:before { content: '\e820'; } /* '' */
.icon-social_instagram_square:before { content: '\e821'; } /* '' */
.icon-social_pinterest_square:before { content: '\e822'; } /* '' */
.icon-social_googleplus_square:before { content: '\e823'; } /* '' */
.icon-angle-up:before { content: '\e824'; } /* '' */
.icon-angle-down:before { content: '\e825'; } /* '' */