
body {
    font-family: 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    font-size: 100%;
    background-color: #e1e1d7;
    color: #464149;
    width: 100%
}

.card-body {
    font-family: 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    font-size: 100%;
    background-color: #e1e1d7;
    color: #464149;
    width: 100%
}


#interact {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: inline-block;
    border-bottom: 4px solid;
    color: #464149;
    font: 1.98em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    height: 1.1em;
    margin-bottom: 30px;
}

#headerDiv {
    text-align: center;
    margin-top: 80px;

}

h1.title {
    text-align: center;
    border-bottom: 6px solid #b1b3b2;
    color: #464149;
    font: 5em/.9em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    letter-spacing: 4pt;
    padding: 0 0 15px 0;
    margin: 20px 0 30px 0;
}

h3.titleLink {
    text-align: center;
    color: #31859c;
    font: 1.05em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    margin: 5px;
    letter-spacing: 1.5pt;
    cursor: pointer;
}


h2 {
    text-align: center;
    color: #464149;
    font: 1.8em/.9em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    margin: 50px 0 5px 0;
}


div.ctrl {
    display: inline-block;
}


div.label {
    display: inline-block;
    font: 1.4em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    width: 175px;
    margin: 0;
    vertical-align: top;
    color: #757978;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.displayLabel {
    display: block;
    font: 1.4em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    margin: 0;
    vertical-align: top;
    color: #757978;
}

input {
    display: inline-block;
    border: 0px solid;
    font: 2em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    background-color: transparent;
    width: 210px;
    margin: 0 0 -10px 4px;
    padding: 0 0 0 3px;
    height: 36px;
    color: #31859c;
}

input:focus {
    outline: 1px solid #93cddd;
    background-color: #fff;
}

input:hover {
    outline: 1px solid #93cddd;
}


#ctrlPayFreq {
    color: #31859c;
    text-decoration: underline;
    cursor: pointer;
}

#displayPayFreq {
    font: 2.5em/1em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    color: #31859c;
    text-decoration: underline;
    cursor: pointer;
    margin-top: -15px
}

#displayPay {
    font: 10em/1em 'League Gothic Condensed', 'Impact', 'Charcoal', sans-serif;
    color: #93cddd;
}

#displayPrin {
    font: 10em/1em 'League Gothic Condensed', 'Impact', 'Charcoal', sans-serif;
    color: #93cddd;
}

#displayYrs {
    float: right;
    font: 10em/1em 'League Gothic Condensed', 'Impact', 'Charcoal', sans-serif;
    color: #93cddd;
}

#displayYr {
    display: block;
    vertical-align: top;
    font: 7em/1.08em 'League Gothic Condensed', 'Impact', 'Charcoal', sans-serif;
    color: #93cddd;
    margin-bottom: -17px;
}

#displayTotal {
    display: block;
    vertical-align: top;
    text-align: center;
    font: 6em/1.08em 'League Gothic Condensed', 'Impact', 'Charcoal', sans-serif;
    color: #93cddd;
}

#displayMonth {
    display: block;
    vertical-align: top;
    font: 2.1em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    color: #93cddd;
    margin-right: 3px;
}

#displayYrMonth {
    float: right;
}


.smallPrint {
    font: 9pt 'Times New Roman', Times, serif;
    margin-top: 8px;
    color: #757978;
}

.smallLink {
    font: 9pt 'Times New Roman', Times, serif;
    color: #757978;
    margin-top: -1px;
}

.smallLink a {
    font-weight: bold;
}

#canTogLink {
    color: #31859c;
    font-weight: bold;

}

.stacked {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    color: #e1e1d7;
    line-height: 30px;
    font-size: 1.3em
}

#principalBar {
    background-color: #93cddd;
    height: 30px;
}

#interestBar {
    background-color: #b1b3b2;
    height: 30px;
    text-align: right;
}

#principalText {
    margin-top: -30px;
    height: 30px;
    width: 50%;
}

#interestText {
    margin-top: -30px;
    height: 30px;
    width: 50%;
    text-align: right;
}

.slider {
    position: relative;
    display: inline-block;
    margin: 0 0 15px 5px;
    cursor: e-resize;
}

.slider img {
    position: absolute;
    top: 4px;
    cursor: e-resize;
}

.slideRule {
    border: none;
    border-top: thin solid;
    color: transparent;
    width: 200px;
    margin-top: 9px;
    margin-bottom: 5px;
    margin-left: 3px;
    pointer-events: none;
    cursor: e-resize;
}

.slideTic {
    pointer-events: none;
    cursor: e-resize;
}

.slideBut {
    pointer-events: none;
    cursor: e-resize;
}

.slideTip {
    position: absolute;
    font-family: 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    font-size: 100%;
    color: #464149;
}

svg {
    cursor: default;
}

rect {
    fill: #93cddd;
    stroke: none;
}

text {

    fill: #757978;
}

.barOn {
    fill: #e1e1d7;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #757978;
    font-size: 11pt;
}

#svgText {
    font-size: 1.3em;
}


.rule {
    border: none;
    border-bottom: 6px solid #b1b3b2;
    width: 100%;
}

#credits {
    position: relative;
    display: block;
    text-align: center;
    margin: 25px 0px;
}

#credits p {
    font: 1.2em/1.5em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    margin: 0;
    letter-spacing: 1pt;
}

#credits p.tagline {
    font: 1.3em/1.3em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    margin: 0;
    letter-spacing: 2pt;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #31859c;
}


@media (min-width: 1px) {
    body #interact {
        width: 400px;
    }

    #first {
        padding: 0;
        display: inline-block;
        width: 400px;
        height: 220px;
    }

    #second {
        padding-top: 20px;
        text-align: center;
        height: 220px;
    }
}

/*
@media (max-device-width: 644px) {
    body #interact{
        width: 400px;

    }
	#first {
		padding: 0;
		display: inline-block;
		width: 400px;
		height: 195px;
	}

	#second {
		padding-top: 20px;
		text-align: center;
		height: 195px;
	}
}

*/

@media (min-width: 840px) {
    body #interact {
        width: 800px;
    }

    #first {
        padding: 0;
        display: inline-block;
        width: 400px;
        height: 220px;
        float: left;
    }

    #second {
        padding-top: 0;
        text-align: right;
        height: 220px;
    }
}


.incompatText p {
    font: 1.4em 'League Gothic', 'Impact', 'Charcoal', sans-serif;
    color: #757978;
    text-align: center;
}


.share_dynamic_social {
    display: inline-block;
    width: 28px
}

.centerDiv {
    width: 118px;
    margin: 0 auto;
}


.centerDiv img {
    display: block;
    margin: 0 auto;
    border: 0;
}

img {
    border: 0;
}
