#site-header {
	color: #222;
}
#site-tagline,
#site-subtitle,
#countdown .countdown-section {
	color: #222;
}
#subscribe-form input[type='email'],
#subscribe-form input[type="submit"] {
	border-color: #222;
	color: #222;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #222;
   opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #222;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #222;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #222;
   opacity:  1;
}
.scrolldown-title {
	color: #222;
}
.scrolldown > span {
	color: #222;
}
.scrolldown .keyscroll .key-up,
.scrolldown .keyscroll .key-down {
	border-color: #222;
}
#site-footer i.scroll-icon {
	background-image: url(../images/mouse-down-dark.png);
}
#site-social li a {
	color: rgba(0,0,0,.5);
}
#site-social li a:hover {
	color: #222;
}