/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .team-content{text-align: center;}
     .img-align {
    float: none;
     margin:0 auto;
    }
    
    .title{text-align:center;} 
    .slider-area h1 {
    font-size: 4em;
    }
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .team-content{text-align: center;}
     .img-align {
    float: none;
     margin:0 auto;
    }
    
    .title{text-align:center;} 
    .slider-area h1 {
    font-size: 4em;
    }
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
 .img-align {
    float: none;
     margin:0 auto;
    }
    
    .title{text-align:center;} 
    .slider-area h1 {
    font-size: 4em;
    }
    .team-content{text-align: center;}
    .containers {font-size: 25px;}
    .right-text, .right-text a {font-size: 17px;}
    #footer .container{text-align: center;}
    #footer img {display: block; margin: 20px auto;}
    .empty {height: 30vh;}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
     .img-align {
        float: none;
        margin:0 auto;
       }
    .title{text-align:center;} 
    .slider-area h1 {
    font-size: 4em;
    }
    .team-content{text-align: center;}
    .containers {font-size: 25px;}
    .right-text, .right-text a {font-size: 17px;}
    
    #footer .container{text-align: center;}
    #footer img {display: block; margin: 20px auto;}
    .empty {height: 30vh;}
}