
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: outside none none;
}
a {
    color: #000;
    text-decoration: none;
}

.fix::after {
    clear: both;
    content: "";
    display: table;
}
.header-top {
    background: #303030 none repeat scroll 0 0;
}
.logo {
    display: inline;
    height: 50px;
}
.logo img {
    height: 50px;
    margin: 20px 0;
}
.logo-text a {
    color: #ddd;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 80px;
    text-align: right;
    text-decoration: none;
}
.logo-text a {
    display: inline-block;
    float: right;
}
.slider-area {
    color: #ddd;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
.bg {
    background: rgba(0, 0, 0, 0) url("../images/bg.jpg") no-repeat scroll 0 0 / cover ;
}
.slider-area h1 {
    font-size: 5em;
    margin-bottom: 20px;
}
.slider-area p {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 5px;
}
.content-block {
    padding: 50px 0;
}
.img-align {
    display: block;
    float: right;
    margin-top: 12px;
}
.title h2 {
    color: #599fbe;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
}
.title p {
    color: #818181;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 18px;
}
.team-content img {
    max-width: 100%;
}
.team-content {
    padding: 15px;
}
.name {
    color: #589ebd;
    font-size: 20px;
    text-transform: uppercase;
}
.team {
    padding: 50px 0;
}
.team-text h3 {
    font-size: 19px;
    font-weight: bold;
}
.team-text > p {
    color: #818181;
    font-family: serif;
    font-size: 17px;
    letter-spacing: 2px;
}
.team-text a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
.empty {
    height: 40vh;
}
.empty1 {
    background: #000 url("../images/bg.jpg") no-repeat scroll 0 0 / cover ;
}
.top + img {
    width: 100%;
    margin-bottom: 30px;
}
#office-area {
    padding: 50px 0;
}
section .office-title {
    padding-bottom: 40px;
    text-indent: 15px;
}
.office-title {
    color: #818181;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.right-text, .right-text a {
    color: #818181;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: right;
}

.containers {
    color: #589ebd;
    font-size: 30px;
}
#footer{
    background:#313131;
    padding:15px 0;
}

#footer a {
    color: #ddd;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 77px;
}
.new{
    color:#ddd;
}