
<div class="col-lg-4 col-md-6 slick-slide" style="width: 603px;" data-slick-index="9" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide39">

    <div class="card card--hotel text-center">
        <div>
            <!-- hidden not for this US - NEWWEB-2642	<a href="">
               <span class="sr-only">See gallery of this room</span>
               <i class="icon-gallery sm"></i>
            </a>-->
            <a href="https://www.radissonhotels.com/en-us/hotels/park-plaza-arena-pula" target="_self" aria-label="Park Plaza Arena Pula" tabindex="-1">
                <img data-src="https://media.radissonhotels.net/image/Park-Plaza-Arena-Pula/Suite/16256-114940-f63146752_3XL.jpg?impolicy=CustomCrop&amp;cwidth=670&amp;cheight=384" alt="Park Plaza Arena Pula - Two Bedroom Suite" class="lazy card__image"></a>
        </div>

        <div class="card__body">
            <div class="row">
                <div class="col-9">
                    <div class="hotel-name">
                        <h2 class="h2 card__title text-left mb-3">
                            <a href="https://www.radissonhotels.com/en-us/hotels/park-plaza-arena-pula" target="_self" class="color-black" tabindex="-1">
                                Park Plaza Arena Pula</a>
                        </h2>
                    </div>
                </div>
                <div class="col-3 text-right">
                    <div class="logo-brand pph"></div>
                </div>
                <!-- hidden not for this US - NEWWEB-2642
                <div class="col-6 text-left">
                      <div class="alert alert-warning xs">30% OFF TODAY</div>
                </div>
                <div class="col-6 text-right">
                      <i>no commision</i>
                      <strong class="display-block color-success mb-3">Lower Available Rate</strong>
                      <span class="price">282 USD</span>
                      <small>per night</small>
                </div>-->
            </div>
            <div class="row mb-4">
                <div class="col-12 d-flex">
                    <i class="icon-pin xs"></i>
                    <small class="card--hotel__address text-left">
                        <span class="card--hotel__address__address">Verudella 31</span>,
                        <span class="card--hotel__address__city">Pula</span>,<span class="card--hotel__address__zip"> HR-52100</span>,
                        <span class="card--hotel__address__country">Croatia</span></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 d-flex align-items-top">
                    <div class="hotel-reviews">
                        <img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-MCID-5.svg" alt="" class="tripadvisor-rating lazy">
                        <span class="review-number">631 reviews</span>
                    </div>
                </div>
                <div class="col-7">
                    <button onclick="(function(element) {window.selectedHotel = JSON.parse(element.dataset.hotel); searchBarVue.$emit('open-searchbar-modal');})(this);" data-hotel="{
                                                        &quot;name&quot;: &quot;Park Plaza Arena Pula&quot;,
                                                        &quot;code&quot;: &quot;HRVPPAP&quot;,
                                                        &quot;location&quot;: {
                                                            &quot;state&quot;: &quot;&quot;,
                                                            &quot;country&quot;: &quot;Croatia&quot;,
                                                            &quot;city&quot;: &quot;Pula&quot;
                                                        }
                                                        }" class="btn btn-secondary btn-block text-uppercase font-medium" rel="nofollow" tabindex="-1">Check availability</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-4 col-md-6 slick-slide slick-cloned" style="width: 603px;" data-slick-index="10" aria-hidden="true" tabindex="-1">

    <div class="card card--hotel text-center">
        <div>
            <!-- hidden not for this US - NEWWEB-2642	<a href="">
               <span class="sr-only">See gallery of this room</span>
               <i class="icon-gallery sm"></i>
            </a>-->
            <a href="https://www.radissonhotels.com/en-us/hotels/park-plaza-westminster-bridge-london" target="_self" aria-label="Park Plaza Westminster Bridge London" tabindex="-1">
                <img data-src="https://media.radissonhotels.net/image/Park-Plaza-Westminster-Bridge-London/Suite/16256-114932-f67629515_3XL.jpg?impolicy=CustomCrop&amp;cwidth=670&amp;cheight=384" alt="Park Plaza Westminster Bridge London - One Bedroom Suite London Eye view" class="lazy card__image"></a>
        </div>

        <div class="card__body">
            <div class="row">
                <div class="col-9">
                    <div class="hotel-name">
                        <h2 class="h2 card__title text-left mb-3">
                            <a href="https://www.radissonhotels.com/en-us/hotels/park-plaza-westminster-bridge-london" target="_self" class="color-black" tabindex="-1">
                                Park Plaza Westminster Bridge London</a>
                        </h2>
                    </div>
                </div>
                <div class="col-3 text-right">
                    <div class="logo-brand pph"></div>
                </div>
                <!-- hidden not for this US - NEWWEB-2642
                <div class="col-6 text-left">
                      <div class="alert alert-warning xs">30% OFF TODAY</div>
                </div>
                <div class="col-6 text-right">
                      <i>no commision</i>
                      <strong class="display-block color-success mb-3">Lower Available Rate</strong>
                      <span class="price">282 USD</span>
                      <small>per night</small>
                </div>-->
            </div>
            <div class="row mb-4">
                <div class="col-12 d-flex">
                    <i class="icon-pin xs"></i>
                    <small class="card--hotel__address text-left">
                        <span class="card--hotel__address__address">200 Westminster Bridge Road</span>,
                        <span class="card--hotel__address__city">London</span>,<span class="card--hotel__address__zip"> SE1 7UT</span>,<span class="card--hotel__address__country">United Kingdom</span></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 d-flex align-items-top">
                    <div class="hotel-reviews">
                        <img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.5-MCID-5.svg" alt="" class="tripadvisor-rating lazy">
                        <span class="review-number">22201 reviews</span>
                    </div>
                </div>
                <div class="col-7">
                    <button onclick="(function(element) {window.selectedHotel = JSON.parse(element.dataset.hotel); searchBarVue.$emit('open-searchbar-modal');})(this);" data-hotel="{
                                                        &quot;name&quot;: &quot;Park Plaza Westminster Bridge London&quot;,
                                                        &quot;code&quot;: &quot;GBWESTMI&quot;,
                                                        &quot;location&quot;: {
                                                            &quot;state&quot;: &quot;&quot;,
                                                            &quot;country&quot;: &quot;United Kingdom&quot;,
                                                            &quot;city&quot;: &quot;London&quot;
                                                        }
                                                        }" class="btn btn-secondary btn-block text-uppercase font-medium" rel="nofollow" tabindex="-1">Check availability</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="col-lg-4 col-md-6 slick-slide slick-cloned" style="width: 603px;" data-slick-index="11" aria-hidden="true" tabindex="-1">

    <div class="card card--hotel text-center">
        <div>
            <!-- hidden not for this US - NEWWEB-2642	<a href="">
               <span class="sr-only">See gallery of this room</span>
               <i class="icon-gallery sm"></i>
            </a>-->
            <a href="https://www.radissonhotels.com/en-us/hotels/park-plaza-verudela-pula" target="_self" aria-label="Park Plaza Verudela Pula" tabindex="-1">
                <img data-src="https://media.radissonhotels.net/image/Park-Plaza-Verudela-Pula/BarLounge/16256-113843-f63146086_3XL.jpg?impolicy=CustomCrop&amp;cwidth=670&amp;cheight=384" alt="Park Plaza Verudela Pula - Lounge Sea View" class="lazy card__image"></a>
        </div>

        <div class="card__body">
            <div class="row">
                <div class="col-9">
                    <div class="hotel-name">
                        <h2 class="h2 card__title text-left mb-3">
                            <a href="https://www.radissonhotels.com/en-us/hotels/park-plaza-verudela-pula" target="_self" class="color-black" tabindex="-1">
                                Park Plaza Verudela Pula</a>
                        </h2>
                    </div>
                </div>
                <div class="col-3 text-right">
                    <div class="logo-brand pph"></div>
                </div>
                <!-- hidden not for this US - NEWWEB-2642
                <div class="col-6 text-left">
                      <div class="alert alert-warning xs">30% OFF TODAY</div>
                </div>
                <div class="col-6 text-right">
                      <i>no commision</i>
                      <strong class="display-block color-success mb-3">Lower Available Rate</strong>
                      <span class="price">282 USD</span>
                      <small>per night</small>
                </div>-->
            </div>
            <div class="row mb-4">
                <div class="col-12 d-flex">
                    <i class="icon-pin xs"></i>
                    <small class="card--hotel__address text-left">
                        <span class="card--hotel__address__address">Verudella 11</span>,
                        <span class="card--hotel__address__city">Pula</span>,<span class="card--hotel__address__zip"> 52100</span>,<span class="card--hotel__address__country">Croatia</span></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 d-flex align-items-top">
                    <div class="hotel-reviews">
                        <img src="https://www.tripadvisor.com/img/cdsi/img2/ratings/traveler/4.0-MCID-5.svg" alt="" class="tripadvisor-rating lazy">
                        <span class="review-number">1035 reviews</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>