
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-gplus-1:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-cancel-1:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-instagramm:before { content: '\e80b'; } /* '' */
.icon-pinterest-circled:before { content: '\e80c'; } /* '' */
.icon-left-open-big:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-deviantart:before { content: '\e811'; } /* '' */
.icon-minus-1:before { content: '\e812'; } /* '' */
.icon-tumblr:before { content: '\e813'; } /* '' */
.icon-vimeo:before { content: '\e814'; } /* '' */
.icon-dribbble:before { content: '\e815'; } /* '' */
.icon-pinterest:before { content: '\e816'; } /* '' */
.icon-vkontakte:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-volume-up:before { content: '\e819'; } /* '' */
.icon-spin2:before { content: '\e81a'; } /* '' */
.icon-angle-double-right:before { content: '\e81b'; } /* '' */
.icon-twitter-squared:before { content: '\e81c'; } /* '' */
.icon-facebook-squared:before { content: '\e81d'; } /* '' */
.icon-social_twitter_square:before { content: '\e81e'; } /* '' */
.icon-social_facebook_square:before { content: '\e81f'; } /* '' */
.icon-social_dribbble_square:before { content: '\e820'; } /* '' */
.icon-social_instagram_square:before { content: '\e821'; } /* '' */
.icon-social_pinterest_square:before { content: '\e822'; } /* '' */
.icon-social_googleplus_square:before { content: '\e823'; } /* '' */
.icon-angle-up:before { content: '\e824'; } /* '' */
.icon-angle-down:before { content: '\e825'; } /* '' */