<html ⚡4email>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <style amp4email-boilerplate>body{visibility:hidden}</style>
</head>
<body>

<template id="animal-template" type="amp-mustache">
    {{#items}}
    <div class="flex flex-column justify-between">
            <div>
                <h2 class="commerce-listing-product-name h6">{{ name }}</h2>
            </div>
        </div>
    {{/items}}
</template>


<amp-list id="animal-list"
          template="animal-template"
          src="/batman/data"
          height=1000
          width=300
          single-item
          items="."
          layout="responsive"></amp-list>





</body>
</html>