<!doctype html>
<html ⚡4email>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <style amp4email-boilerplate>body{visibility:hidden}</style>


</head>
<body>


<br>
<template id="animal-template" type="amp-mustache">
    {{#items}}
    <a href="https://google.com" class="commerce-listing-product text-decoration-none inline-block col-6 md-col-4 lg-col-3 px1 mb2 md-mb4 relative">
        <div class="flex flex-column justify-between">
            <div>
                <amp-img class="commerce-listing-product-image mb2" src="{{image}}" width="340" height="340" layout="responsive" alt="{{ name }}" noloading="">
                    <div placeholder="" class="commerce-loader"></div></amp-img>
                <h2 class="commerce-listing-product-name h6">{{ name }}</h2>
                {{ description }}
            </div>
            <div class="h6 mt1">@{{ price }}</div>
        </div>
    </a>
    {{/items}}
</template>



<form id="animal-form" method="get" action-xhr="https://parser.roboamp.com/amp4email/asr_post/">
    <div>
        <p>Select an option to update the server response.</p>
        <select name="animal" on="change:animal-form.submit,animal-list.hide">
            <option value="dog">Everything</option>
            <option value="parrot">Two Items</option>
            <option value="cat">Only One Item</option>
        </select>
    </div>
    <div submit-error>Failed to load data.</div>
    <div submit-success template="animal-template">
    </div>
</form>
<amp-list id="animal-list"
          template="animal-template"
          src="https://parser.roboamp.com/amp4email/asr/a/b"
          height=1000
          width=300
          single-item
          items="."
          layout="responsive"></amp-list>
</body>
</html>