/*body {
background: #fff;
}

.idno-content {
box-shadow: none;
border: none;
}
li {
line-height: 1.8em !important;
}
.idno-posts h2.p-name {
font-size: 1.8em;
margin: 0; padding: 0;
margin-top: -0.8em;
}
.entry-content blockquote {
margin-top: 2em;
margin-bottom: 2em;
font-size: 0.9em;
color: #444;
}
.navbar-inverse .navbar-inner {
  background-color: #111; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.9;
}*/